name: Build and Push Docker Image

on:
  push:
    branches: [ "main" ]
    paths:
      - "Dockerfile"
      - "conda-lock.*"
      - ".github/workflows/docker-build.yml"
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Log in to DockerHub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}

    - name: Extract version from Git tag
      id: vars
      run: |
        # Use latest if not a tagged release
        if [[ "${GITHUB_REF}" =~ "refs/tags/" ]]; then
          VERSION="${GITHUB_REF#refs/tags/}"
        else
          VERSION="latest"
        fi
        echo "version=$VERSION" >> $GITHUB_OUTPUT

    - name: Build Docker image
      run: |
        docker build -t ${{ secrets.DOCKER_USERNAME }}/iris-ml-predictor:${{ steps.vars.outputs.version }} \
                     -t ${{ secrets.DOCKER_USERNAME }}/iris-ml-predictor:latest .

    - name: Push Docker image
      run: |
        docker push ${{ secrets.DOCKER_USERNAME }}/iris-ml-predictor:${{ steps.vars.outputs.version }}
        docker push ${{ secrets.DOCKER_USERNAME }}/iris-ml-predictor:latest
